In [17]:
from pyspark.sql import SparkSession

In [18]:
spark = SparkSession.builder \
    .appName("DataFrame Example") \
    .getOrCreate()

In [19]:
data = [("Alice", 25), ("Bob", 30), ("Charlie", 35)]

In [20]:
columns = ["Name", "Age"]

In [21]:
df = spark.createDataFrame(data, columns)

In [22]:
df.show()

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
+-------+---+

In [23]:
df.select("Name").show()

+-------+
|   Name|
+-------+
|  Alice|
|    Bob|
|Charlie|
+-------+

In [24]:
df.select("Name", "Age").show()

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
+-------+---+

24/10/23 18:28:40 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

Filtering Rows

In [25]:
df.filter(df.Age > 30).show()

+-------+---+
|   Name|Age|
+-------+---+
|Charlie| 35|
+-------+---+

Grouping and Aggregating Data

In [26]:
df.groupBy("Age").count().show()

+---+-----+
|Age|count|
+---+-----+
| 25|    1|
| 30|    1|
| 35|    1|
+---+-----+

Sorting Data

In [27]:
df.orderBy("Age").show()

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
+-------+---+

In [28]:
df.orderBy(df.Age.desc()).show()

+-------+---+
|   Name|Age|
+-------+---+
|Charlie| 35|
|    Bob| 30|
|  Alice| 25|
+-------+---+

In [29]:
spark.stop()