In [28]:
from pyspark.sql import SparkSession

In [29]:
spark = SparkSession.builder \
    .appName("Spark SQL Example") \
    .getOrCreate()

In [30]:
data = [("Alice", 25), ("Bob", 30), ("Charlie", 35)]

In [31]:
df = spark.createDataFrame(data, ["Name", "Age"])

In [32]:
df.createOrReplaceTempView("people")

In [33]:
result = spark.sql("SELECT Name, Age FROM people WHERE Age > 30")

In [34]:
result.show()

+-------+---+
|   Name|Age|
+-------+---+
|Charlie| 35|
+-------+---+

In [35]:
result = spark.sql("SELECT Name FROM people")
result.show()

+-------+
|   Name|
+-------+
|  Alice|
|    Bob|
|Charlie|
+-------+

In [36]:
result = spark.sql("SELECT * FROM people WHERE Age < 30")
result.show()

+-----+---+
| Name|Age|
+-----+---+
|Alice| 25|
+-----+---+

In [37]:
result = spark.sql("SELECT Age, COUNT(*) as count FROM people GROUP BY Age")
result.show()

+---+-----+
|Age|count|
+---+-----+
| 25|    1|
| 30|    1|
| 35|    1|
+---+-----+

In [38]:
data_jobs = [("Alice", "Engineer"), ("Bob", "Doctor")]
df_jobs = spark.createDataFrame(data_jobs, ["Name", "Job"])

In [39]:
df_jobs.createOrReplaceTempView("jobs")

In [40]:
result = spark.sql("""
    SELECT p.Name, p.Age, j.Job 
    FROM people p
    JOIN jobs j ON p.Name = j.Name
""")

In [41]:
result.show()

+-----+---+--------+
| Name|Age|     Job|
+-----+---+--------+
|Alice| 25|Engineer|
|  Bob| 30|  Doctor|
+-----+---+--------+

In [42]:
df_cleaned = df.dropna()
df_cleaned.show()

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
+-------+---+

In [43]:
df_cleaned = df.dropna(subset=["Age"])
df_cleaned.show()

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
+-------+---+

In [44]:
df_filled = df.fillna(0)
df_filled.show()

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
+-------+---+

In [45]:
df_filled = df.fillna({"Age": 0, "Name": "Unknown"})
df_filled.show()

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
+-------+---+

Window Functions in PySpark

In [46]:
from pyspark.sql.window import Window
from pyspark.sql.functions import rank

# Define a window specification
window_spec = Window.orderBy("Age")

# Add a rank column
df_with_rank = df.withColumn("rank", rank().over(window_spec))
df_with_rank.show()

24/10/23 20:28:58 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/10/23 20:28:58 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/10/23 20:28:58 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+-------+---+----+
|   Name|Age|rank|
+-------+---+----+
|  Alice| 25|   1|
|    Bob| 30|   2|
|Charlie| 35|   3|
+-------+---+----+

Caching DataFrames

In [47]:
df.cache()

# Perform operations on the cached DataFrame
df.show()

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
+-------+---+

Partitioning

In [48]:
# Repartition the DataFrame
df_repartitioned = df.repartition(4)
df_repartitioned.show()

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
+-------+---+

In [49]:
spark.stop()